body {
  color: white;
  background: #093143;
  font-family: Inconsolata, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  font-size: 3rem;
  font-weight: bold;
  text-transform: upercase;
  color: #2C6281;
  max-width: 800px;
  padding-top: 2rem;
}

.sub-header {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: .6rem;
  max-width: 800px;
}

.card {
  background: white;
  width: 50vw;
  max-width: 800px;
}

.card-header {
  color: #093143;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.text {
  color: #093143;
}

.key {
  background: #efefef;
  padding: 5px;
}

.tspace {
  padding-top: 1rem;
}
